## Overview Questions

1. Has network latency gone up since we switched internet service providers?

Ho: There has been no change in latency between pre and post switch timeframes

Ha: there is a statistically significant mean increase in latency between pre and post switch timeframes

T1: There is no population difference, but our post switch sample is non-representative higher than the pre switch sample

T2: There is a population difference, but out post switch sample is non-representative the same as the pre switch sample

True +: There is a population difference and our post switch sample is statistically significantly higher than the pre switch sample

True -: There is no population difference and our post switch sample is not statistically significantly higher than the pre switch sample

2. Is the website redesign any good? 

Ho: There is no increase in visitors to the website since redesign

Ha: There is an increase in visitors since the redesign

T1: There is no population difference, but there was a non-representational sample showing increase post design

T2: There is a population difference, but there is a non-representational sample showing no increase post design

True +: There is a population difference and there is a representative sample showing increase post redesign

True -: There is no population difference and there is a representative sample showing no increase post design

3. Is our television ad driving more sales? 

Ho: There is no increase in sales between pre and post ad timeframes

Ha: There is an increase in sales between pre and post ad timeframes

T1: There is no population difference, but there was a non-representative sample showing an increase in sales from pre to post ad timeframes

T2: There is a population difference, but there was a non-representative sample showing no increase in sales from pre to post ad timeframes

True +: There is a population difference and a representative sample shows increase post ad

True -: There is no population difference and a representative sample shows no increase post ad

## Comparison of Means

1. Which type of test to do in the following?

a. difference between grades of students on 2nd floor vs all students?

single sample t test

b. adults who drink milk taller than adults who don't?

2 sample t test

c. price of gas higher in Texas or New Mexico?

2 sample t test

d. stress levels different between students of data science, web development, cloud academy?

ANOVA

2. Is average time it takes to sell homes different between 2 offices? 40 sales from office 1 with mean of 90 days and SD of 15 days. 50 sales from 2nd office with mean of 100 days and SD of 20 days. Yes, they're statistically significantly different

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import seaborn as sns


alpha = .05

In [8]:
office_1_dist = np.random.normal(90, 15, (40))
office_2_dist = np.random.normal(100,20,(50))

t, p = stats.ttest_ind(office_1_dist, office_2_dist)

In [9]:
t, p

(-3.316651846556154, 0.0013253226311575575)

3. Load mpg dataset and use it for following questions

In [2]:
from pydataset import data
df_mpg = data('mpg')
df_mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

a. Is there a difference in fuel-efficieny between cars from 2008 vs 1999?

In [3]:
df_mpg['average_mpg'] = (df_mpg.cty + df_mpg.hwy) //2

df_mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21

In [21]:
o_eight_mpg = df_mpg[df_mpg.year == 1999].average_mpg
print(o_eight_mpg)

nine_nine_mpg = df_mpg[df_mpg.year == 2008].average_mpg
print(nine_nine_mpg)

1      23
2      25
5      21
6      22
8      22
9      20
12     20
13     21
16     19
22     15
24     21
25     19
31     13
32     15
33     23
35     22
38     21
39     20
40     19
41     19
45     18
46     18
51     15
52     15
56     14
57     13
58     15
62     13
64     13
71     13
72     13
74     13
75     14
76     14
78     15
79     17
80     15
83     15
84     15
85     15
86     14
87     14
89     13
91     22
92     21
95     18
96     18
100    30
101    28
102    28
103    26
104    28
109    22
110    22
113    22
114    22
116    22
117    24
125    17
126    15
131    13
134    13
135    14
136    13
138    15
141    15
142    25
143    23
148    22
149    22
151    15
152    16
155    22
156    21
157    22
160    21
161    21
166    23
167    22
168    22
169    22
174    17
175    18
176    17
177    16
180    25
181    24
184    22
185    22
187    24
188    25
191    22
192    22
194    27
195    28
196    30
199    13
201    17
202    18
204    16
205    17
208    25
209    22
212    20
213    38
214    25
215    22
220    19
221    20
222    39
223    35
224    25
225    22
228    25
229    23
232    21
233    22
Name: average_mpg, dtype: int64
3      25
4      25
7      22
10     24
11     23
14     21
15     20
17     21
18     19
19     17
20     13
21     17
23     14
26     21
27     20
28     19
29     16
30     12
34     26
36     23
37     21
42     20
43     20
44     14
47     19
48     19
49     17
50     16
53     16
54     16
55     10
59     15
60     10
61     15
63     15
65     14
66     10
67     15
68     15
69     14
70     10
73     15
77     15
81     16
82     16
88     15
90     15
93     21
94     20
97     19
98     18
99     17
105    30
106    30
107    30
108    25
111    25
112    26
115    23
118    24
119    23
120    20
121    20
122    20
123    19
124    17
127    10
128    16
129    15
130    12
132    15
133    15
137    15
139    16
140    16
144    27
145    27
146    23
147    22
150    22
153    17
154    15
158    23
159    20
162    23
163    22
164    23
165    20
170    22
171    23
172    22
173    23
178    18
179    15
182    26
183    26
186    23
189    26
190    26
193    22
197    32
198    30
200    15
203    19
206    16
207    18
210    25
211    25
216    25
217    25
218    25
219    25
226    24
227    24
230    23
231    25
234    21
Name: average_mpg, dtype: int64

In [22]:
t, p = stats.ttest_ind(o_eight_mpg, nine_nine_mpg)
t,p

(0.29755312837633463, 0.7663105232760251)

b. Are compact cars more fuel efficient than the average car?

In [4]:
df_mpg.rename(columns={'class': 'car_class'})

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,car_class,average_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21

AttributeError: 'DataFrame' object has no attribute 'car_class'

In [17]:
average_car = df_mpg.average_mpg.mean()
print(average_car)




compact_car = df_mpg[df_mpg['class'] == 'compact'].average_mpg
print(compact_car)

19.935897435897434
1      23
2      25
3      25
4      25
5      21
6      22
7      22
8      22
9      20
10     24
11     23
12     20
13     21
14     21
15     20
142    25
143    23
170    22
171    23
172    22
173    23
187    24
188    25
189    26
190    26
191    22
192    22
193    22
194    27
195    28
196    30
197    32
198    30
208    25
209    22
210    25
211    25
212    20
213    38
214    25
215    22
216    25
217    25
218    25
219    25
220    19
221    20
Name: average_mpg, dtype: int64

In [20]:
t, p = stats.ttest_1samp(compact_car, average_car)
t, p/2

(7.979482464255871, 1.5854124290527813e-10)

c. Do manual cars get better gas mileage than automatic cars?

In [25]:
df_mpg['is_automatic'] = np.where(df_mpg['trans'].str.contains('auto'), 'True', 'False')
df_mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mpg,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21,True

In [27]:
automatic = df_mpg[df_mpg.is_automatic == 'True'].average_mpg
print(automatic)

manual = df_mpg[df_mpg.is_automatic == 'False'].average_mpg
print(manual)

1      23
4      25
5      21
7      22
9      20
11     23
12     20
14     21
16     19
17     21
18     19
19     17
20     13
21     17
22     15
23     14
25     19
27     20
29     16
30     12
31     13
32     15
33     23
34     26
35     22
36     23
37     21
38     21
39     20
40     19
41     19
42     20
43     20
44     14
45     18
46     18
47     19
48     19
50     16
51     15
53     16
54     16
55     10
57     13
58     15
59     15
60     10
61     15
62     13
63     15
64     13
66     10
67     15
68     15
71     13
73     15
74     13
75     14
76     14
77     15
78     15
80     15
81     16
82     16
83     15
84     15
87     14
88     15
89     13
90     15
92     21
94     20
95     18
98     18
101    28
104    28
106    30
107    30
109    22
111    25
113    22
115    23
116    22
119    23
120    20
123    19
124    17
125    17
126    15
127    10
128    16
129    15
130    12
131    13
132    15
133    15
134    13
135    14
136    13
137    15
138    15
139    16
140    16
141    15
143    23
144    27
147    22
148    22
150    22
151    15
153    17
154    15
155    22
156    21
157    22
158    23
159    20
161    21
164    23
165    20
166    23
169    22
170    22
171    23
175    18
176    17
178    18
179    15
181    24
183    26
184    22
186    23
187    24
190    26
191    22
193    22
194    27
195    28
198    30
199    13
200    15
202    18
205    17
207    18
209    22
211    25
215    22
216    25
218    25
220    19
223    35
225    22
227    24
229    23
230    23
232    21
234    21
Name: average_mpg, dtype: int64
2      25
3      25
6      22
8      22
10     24
13     21
15     20
24     21
26     21
28     19
49     17
52     15
56     14
65     14
69     14
70     10
72     13
79     17
85     15
86     14
91     22
93     21
96     18
97     19
99     17
100    30
102    28
103    26
105    30
108    25
110    22
112    26
114    22
117    24
118    24
121    20
122    20
142    25
145    27
146    23
149    22
152    16
160    21
162    23
163    22
167    22
168    22
172    22
173    23
174    17
177    16
180    25
182    26
185    22
188    25
189    26
192    22
196    30
197    32
201    17
203    19
204    16
206    16
208    25
210    25
212    20
213    38
214    25
217    25
219    25
221    20
222    39
224    25
226    24
228    25
231    25
233    22
Name: average_mpg, dtype: int64

In [28]:
t, p = stats.ttest_ind(manual, automatic)
t,p

(4.661893306345135, 5.287231014323451e-06)